.container{
    display: flex;   
    background-color: #ffffff;
}
.block{
    padding: 1.5rem;
    margin: 5px;
    background-color: #daba90;
    text-align: center;
}
.stack-1{
    flex-direction: row;
    margin: 0 0 10px 0;
    padding: 5px;
    order: 1
}
.stack-2{
    flex-direction: row-reverse;
}